#searchBox {
	padding-top: 25px;
}

.entry {
	font-family: 'Play', sans-serif;
	font-size: 1.2em;
	margin: 20px auto;
}

.round-corners {
	border-radius: 30px;
}

.online {
	color: green;
}

.offline {
	color: red;
}

.defunct {
	color: pink;
}

.btn-twitch { /* http://charliepark.org/bootstrap_buttons/ */
	background-color: hsl(270, 75%, 34%);
	background-repeat: repeat-x;
	background-image: linear-gradient(#A35EE8, #561597);
	border-color: #561597 #561597 hsl(270, 75%, 26.5%);
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.49);
}

body {
	background-color: black;
	color: white;
}

h1 {
	color: #A35EE8;
	font-family: 'Exo', sans-serif;
	font-size: 40px;
	text-shadow: -2px 4px #561597;
}

a {
	font-size: 1.25em;
}

@media screen and (max-width: 767px) {
	#searchBox {
		padding: 25px 15px 10px;
	}

	h1 {
		margin-bottom: -12px;
	}
}
